body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.contributers {
  height: 200px;
  float: left;
}

.contributers h3 {
  width: 100%;
  height: 30px;
  padding:0 15px
}
.contributers p {
  width: 100%;
  height: 30px;
  padding: 0 15px;
  margin-top: 35px;
}

.contributers a {
  width: 100%;
  height: 30px;
  padding: 0 15px;
  margin-top: 35px
}
